@use "@styles/mixins" as *;
@use "@styles/variables.scss" as *;

.categories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  row-gap: 50px;
  padding-top: 60px;
  padding-bottom: 40px;

  @include respondToMedium {
    grid-template-columns: 1fr 1fr;
  }
  @include respondToSmall {
    grid-template-columns: 1fr;
    gap: 60px;
  }
}

.title {
  @include title;
}

.link {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.img {
  border-radius: $border-radius;
  margin: 0 auto;
}
