@use "@styles/mixins" as *;

.singInTo {
  @include flexColumnCenter;
  min-height: 70%;
  gap: 20px;
}

.singInTo__input {
  width: 80%;
}

.singInTo__button {
  width: 80%;
}

.errorText {
  color: red;
}

.text {
  @include fz28;
}
