$default-color: #b5460f;
$button-hover: rgba(181, 70, 15, 0.7);
$button-disabled: #d9d9d9;
$button-active: #872d01;
$color-placeholder: #afadb5;
$background: rgba(255, 192, 118, 0.23);
$color-header-menu: #fff;
$background-white: #fff;
$color-black: #000;
$color-burger: #333;

$flex-gap: 48px;
$border-radius: 10px;
$margin-bottom: 28px;
